.home_container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.text h1 {
    font-size: 4vw;
}

.text h1 span{
    background-color: #122;
    color: #ffbb33;
    border-radius: 5px;
    padding: 0 .2em;
}

.text p {
    font-size: 2vw;
    color: #7b7b7b;
    margin-bottom: 4em;
} 

.home_container img {
    width: 39vw;
}

@media (max-width: 650px) {
    .home_container {
        flex-wrap: wrap;
    }

    .home_container img {
        width: 250px;
    }

    .text h1 {
        font-size: 25px;
    }

    .text p {
        font-size: 15px;
    }


}