.btn {
    background-color: #222;
    color: #fff;
    padding: .5em 1em;
    border-radius: 5px;
    text-decoration: none;
    transition: .5s;
    max-width: 200px;
    text-align: center;
}

.btn:hover {
    color: #ffbb33;
    background-color: #333;
}