.navbar {
    background-color: #222;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.list {
    display: flex;
    list-style: none;
}

.item {
    margin: 1.4em;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a:hover {
    color: #ffbb33;
}

@media (max-width: 440px) {
    .logo {
        display: none;
    }
}